
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e1cafc; 
}

header {
    width: 100%;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

header a img {
    position: absolute;
    top: 10px;
    right: 30px;
    object-fit: cover;
    width: 400px;
    height: auto;
}

header img:hover{
    border-color: plum;
    background-color: plum;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-decoration: none;
    position: fixed;
    object-fit: cover;
    font-family: monospace;
    
}

nav li:nth-child(1) {
    top: 70px;
    right: 45px;
}

nav li:nth-child(2) {
    top: 100px;
    right: 45px;
}

nav li:nth-child(3) {
    top: 130px;
    right: 45px;
}
nav li:hover{
    border-color: plum;
    background-color: plum;
}

main {
    text-align: center;
}

main p {
    font-family: monospace;
}

main iframe {
    margin: 3% 0;
}

main img {
    margin: 3% 0;
}

main p:last-child {
    margin-bottom: 3%;
}

main audio {
    margin: 3% 0;
}


footer hr {
    margin: 2% 0;
}

footer p { /*grid area present here*/
    font-family: monospace;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

footer a img {
    width: 100px;
    height: 100px;
    padding: 1px; 
    margin: 1px; 
    padding-left: 20px;

}

.notification{
    display: none;
    position: absolute;
    top: 3%;
    left: 22px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: monospace;
    
}
.switchImageContainer{
    margin-right: 100px;
}
#mySwitchButton{
    background-color: #000;
    color:white;
    border-radius: 15px;
    font-family: monospace;
    font-size: 18px;

}
#mySwitchButton:hover{
    border-color: rgb(203, 138, 203);
    background-color: rgb(103, 46, 103);
}

.mainBody{
    width:100px;
    height:100px;
}
@media only screen and (max-width: 1200px){
    .mainBody{
     display: flex;
    }
    header a img {
        position: absolute;
        top: 10px;
        right: 50px;
        object-fit: cover;
        width: 400px;
        height: auto;
    }
    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        right: 60px;
    }
    header img {
        width:auto;
    }
    .verticalBanner {
        transform: scaleX(-1);
    }

}
@media only screen and (max-width: 650px){
    body{
        overflow-x: hidden; 
        justify-content: center;
    
    }
    .mainBody{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden; 
    }
    .headerContents{
        margin: 0 auto; 
        background-size: contain; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden; 
    }
    .verticalBanner {
        transform: scaleX(-1);
    }
    header img {
        width:auto;
        height: 100%;    
    }
    
    header a img {
        position: absolute;
        top: 10px;
        right: 80px;
        object-fit: cover;
        width: 350px;
        height: auto;
    }

    iframe{
        width: auto;
        padding: 20px;
    }
    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        right: 80px;
        position: absolute;
    }
    footer p {
        display: flex;
        justify-content: center;
       align-items: center;
    }
    
    footer a img {
        width: 80px;
        height: 80px; 
    }
    .notification{
        max-width: 70px;
        top: 100px;
    }


}
@media only screen and (max-width: 450px){
    header a img {
        width: 250px;
        height: auto; 
    }
    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        right: 100px;
        position: absolute;
    }
    iframe {
        width: 250px; 
        padding: 5px; 
    }
    .ipod {
        width: 200px;
    }
}


