
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: #000;
}
*{
    font-family: monospace;
}
header {
    width: 100%;
    overflow: hidden;
}


header img {
    position: fixed;
    top: 10px;
    right: 30px;
    object-fit: cover;
    width: 400px;
    height: auto;
}

header img:hover{
    border-color: plum;
    background-color: plum;
}

.grid-parent {
    display: grid;
    grid-template-rows: 200px repeat(2, 2fr);
    grid-template-columns: repeat(5, 1fr);
}

.banner-header{
    grid-area: 1 / 1 / 1/ 6;
    background-color: rgb(214, 162, 214);
    padding:20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
}

nav li {
    text-decoration: none;
    position: fixed;
    object-fit: cover;
    font-family: monospace;
}

nav li:nth-child(1) {
    top: 70px;
    right: 45px;
}

nav li:nth-child(2) {
    top: 100px;
    right: 45px;
}
nav li:hover{
    border-color: plum;
    background-color: plum;
}
main {
    text-align: center;
    align-items: center;
    display: flex;
    
}

h1.banner-text { /*atribute selector*/
    font-family: monospace;
}
.questionForm-container{
    display: flex;
	justify-content: center;
    align-items: center; 
    padding-left: 250px;
    /*fix this and add a border*/
}
.input-container {
    display: block; 
    margin-bottom: 10px; 
}
.input-container label {
    display: block; 
    margin-bottom: 5px; 
}
#message-panel {
	margin-top: 14px;
	text-align: center;
	padding: 9px;
	border-radius: 5px;
    /* direct copy change this*/
}
#button-container{
    background-color: #000;
    color:white;
    border-radius: 10px;
    font-family: monospace;

}
#button-container:hover{
    border-color: rgb(203, 138, 203);
    background-color: rgb(103, 46, 103);
}
