
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color:black;
}

body {
    margin: 0;
    padding: 0;
    background-color: #9ec6b0; 
}

header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 120px;
}

header img {
    position: absolute;
    top: 10px;
    right: 30px;
    object-fit: cover;
    width: 400px;
    height: auto;
    border:none;
}
header img:hover{
    border-color: plum;
    background-color: plum;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-decoration: none;
    position: fixed;
    object-fit: cover;
    font-family: monospace;
}

nav li:nth-child(1) {
    top: 70px;
    right: 45px;
}

nav li:nth-child(2) {
    top: 100px;
     right: 45px;
}
nav li:hover{
    border-color: plum;
    background-color: plum;
}
main {
    margin-top: 50px;
    text-align: center;
}

hr {
    top: 300px;
}

center h2 {
    font-family: monospace;
}
h1{
    font-family: monospace;
}
center img {
    width: auto;
    max-width: 100%;
    padding: 10px; /* Add padding */
    margin: 15px; /* Add margin */
    border: 2px solid #dcc1d9; 
}
center img:hover{
    border-color: rgb(126, 0, 120);
}
video {
    width: 600px;
    height: auto;
    margin: 15px 0;
}

center p {
    font-family: monospace;
}
